
autosallon/__pycache__/settings.cpython-311.pyc
autosallon/__pycache__/urls.cpython-311.pyc
autosallonApp/__pycache__/urls.cpython-311.pyc
autosallonApp/__pycache__/views.cpython-311.pyc
autosallonApp/views/__pycache__/carViews.cpython-311.pyc
autosallonApp/views/__pycache__/categoryViews.cpython-311.pyc
*.pyc
