* {

  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  letter-spacing: 1px;
}

::-webkit-scrollbar {
  display: none;
}

body {
  -ms-overflow-style: none;
}

html {
  scrollbar-width: none;
}

header {

  padding: 25px;
  position: fixed;
  width: 100%;
  z-index: 9999999;
  backdrop-filter: blur(2px);
}

.navBrand {
  color: white;
  text-decoration: none;
  transition: 0.1s all ease-in;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: auto;
}

nav ul {
  display: flex;
  list-style-type: none;
  gap: 25px;
  align-items: center;
}

.listItem {

  text-decoration: none;
  color: white;

  transition: 0.1s all ease-in;
}

.listItem:hover,
.navBrand:hover {
  opacity: 50%;
}

.signInButton {

  margin-left: 20px;
  padding: 12px;
  background: black;
  border: none;
  color: white;
  cursor: pointer;
  width: 100px;
}

.home section {
  height: 100vh;
}

.hero {
  background: url('images/heroImage.webp');
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;

  display: flex;
  justify-content: center;
}

.hero .container {

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: left;
  gap: 50px;

  margin: auto;
  padding: 20px;
  color: white;

}

.hero .container>* {

  backdrop-filter: blur(5px);
  border-radius: 10px;
}

.hero .container>*:last-child {
  backdrop-filter: none;
}

.hero .container h2 {

  font-size: 70px;
}

.hero .container h3 {

  font-size: 36px;
}

.hero .container .item {
  width: 100%;
}

.hero .container button {

  font-size: 24px;
  padding: 12px;
  background: black;
  border: none;
  color: white;
  cursor: pointer;
  width: 300px;
  border-radius: 5px;
}

.categories {

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: linear-gradient(180deg, rgba(246, 246, 246, 1) 79%, rgba(198, 198, 198, 1) 100%);
}

.categories .container {

  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  margin-top: 35px;
  width: 80%;
}

.categories .container div {
  margin-bottom: 10px;
}

.categoryTitle {

  margin-bottom: 20px;
}

.categories h2 {
  text-align: left;
}

.findCar {
  width: 66%;
  font-size: 28px;
}

.categories .item div {
  margin-left: 20px;
  width: 200px;
}

.categories a {
  text-decoration: none;
  color: black;
}

.categoryLogo {
  width: 50px;
  height: 50px;
  object-fit: contain;
}

.categoryList {

  display: flex;
  width: 700px;
  flex-wrap: wrap;
}

.categories .item {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 320px;
  margin-left: 10px;
  padding: 20px;
  border-radius: 10px;
  transition: all 0.3s ease-in;
  box-shadow: 0px 5px 13px -7px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0px 5px 13px -7px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 5px 13px -7px rgba(0, 0, 0, 0.5);
}

.categories .item:hover {
  background-color: #e6e6e6;
}

.categories .item div h4 {

  font-weight: 400;
  color: #aaa;
}

.carSlider {
  background: #363636;
  background: linear-gradient(180deg, #363636 14%, rgba(38, 38, 38, 1) 63%);

  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.sliderContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateX(1800px);
  transition: 1s all ease-in-out;
}

.sliderItem {

  transition: 1s all ease-in-out;
}

.carSlider .sliderItem img {

  width: 750px;
  height: 350px;
  object-fit: cover;
  transition: 0.3s all ease-in-out;
}

.carSlider .sliderItem img:hover {
  transform: scale(1.02);
}

.carSlider .sliderItem h1,
.carSlider .sliderItem h4 {

  color: white;
  width: 90%;
  margin: auto;
  text-align: center;
  transform: translateY(50px);
}

.carSlider .sliderItem h1 {
  font-size: 50px;
}

.carSlider .sliderItem h4 {
  margin-top: 25px;
  font-weight: 100;
  font-size: 24px;
  text-align: justify;
}

.carSlider .sliderItem button {
  background: none;
  color: orange;
  border: 1px solid orange;
  padding: 10px;
  font-size: 18px;
  cursor: pointer;
  transform: translateY(100px);
  margin-left: calc(50% - 75px);
  width: 150px;
  transition: 0.3s all ease-in;
}

.carSlider .sliderItem button:hover {

  background: orange;
  color: #363636;
}

.hidden {
  opacity: 10%;
}

.reviews {

  background: rgb(246, 246, 246);
  background: linear-gradient(180deg, rgba(246, 246, 246, 1) 79%, rgba(198, 198, 198, 1) 100%);

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.reviews .container {

  width: 80%;

  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.reviewCard {

  padding: 35px;
  height: 350px;
  width: 350px;
  background: white;
  text-align: justify;

  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
  gap: 25px;
}

.reviewCard .star {

  transform: scale(1.5);
  display: flex;
  gap: 10px;
  color: #f3da35;
}

.reviewTitle {

  font-size: 70px;
  transform: translateY(-150px);
}

.reviewCard h4 {
  font-size: 24px;
}

.reviewCard img {

  width: 175px;
  height: 175px;
  object-fit: cover;
  object-position: center center;
  border-radius: 100%;
  position: absolute;
  transform: translateY(-225px);
  border: 10px solid rgb(246, 246, 246);

}

footer {

  height: 340px;
  background: #363636;
  color: white;
}

footer a {

  color: #ddd;
  text-decoration: none;
}

footer .container {

  display: flex;
  justify-content: space-evenly;
  padding: 50px;
}

footer hr {

  width: 90%;
  margin: auto;
}

footer h4 {

  font-size: 20px;
}

footer h3 {

  width: 100%;
  text-align: center;
  padding: 27px;
  font-size: 24px;
}

footer p {

  margin-bottom: 5px;
  font-size: 18px;
}

footer i {

  font-size: 35px;
  margin-left: 10px;
}

footer input {

  background: none;
  color: white;
  outline: 2px solid white;
  padding: 10px;
  margin-right: 15px;
  border: none;

  transition: 0.3s all ease-in;
}

footer input:focus {
  outline: 2px solid orange;
}

footer input[type="submit"] {
  outline: none;
  border: 2px solid white;
}

footer input[type="submit"]:hover {
  background: orange;
  border: 2px solid orange;
  color: #363636;
  cursor: pointer;
}

.signIn {

  background: url('images/heroImage.webp');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  font-size: 16px;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

.signIn .formTitle {

  background: #363636;
  width: 80%;
  height: 100px;
  border-radius: 5px;
  color: white;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}

.signIn h1 {
  text-align: center;
}

.signIn form {

  width: 700px;
  height: auto;
  background: white;
  padding: 50px 0px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.signIn input {

  width: 80%;
  border-radius: 5px;
  padding: 25px 5px 5px 5px;
  font-size: 14px;
  background: #eee;
  outline: 2px solid #eee;
  border: none;

  transition: 0.3s ease-in;
}

.signIn input:focus {
  outline: 2px solid orange;
}

.signIn label {
  margin-top: 10px;
  font-size: 12px;
  text-align: left;
  width: 75%;
  opacity: 50%;
  transform: translateY(22px);
}

.signIn input[type="submit"] {

  background: orange;
  color: white;
  font-weight: bolder;
  padding: 15px;
  margin-top: 30px;
  outline: 2px solid orange;
  cursor: pointer;
  transition: all 0.3s ease-in;
}

.signIn input[type="submit"]:hover {

  background: rgb(255, 132, 0);
  outline: 2px solid rgb(255, 132, 0);
}

.registerLink {

  width: 80%;
  text-align: right;
  transform: translateY(30px);
}

.registerLink a {
  color: orange;
  transition: 0.3s all ease-in;
}

.registerLink a:hover {
  color: rgb(224, 86, 0);
}

.signIn .formName {

  width: 80%;
  max-width: 80%;
  display: flex;
  gap: 115px;

}

.signIn .formName label {
  position: absolute;
  transform: translate(15px, 15px);
}

.signIn .formName input {

  width: 155%;
}

.carMain {
  background: linear-gradient(180deg, rgba(246, 246, 246, 1) 79%, rgba(198, 198, 198, 1) 100%)
}

.cars {
  height: 20vh;
  color: #363636;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.carMain select,
.carMain input[type="submit"] {

  margin-top: 10px;
  background: none;
  border: none;
  outline: 2px solid #363636;
  border-radius: 5px;
  color: #363636;

  transition: 0.2s all ease-in;
}

.carMain input[type="submit"]:hover {

  color: white;
  outline: 2px solid #363636;
  background: #363636;
  cursor: pointer;
}

.carMain option {

  color: black;
}

.cars .container {

  width: 80%;

  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 10px;
}

.cars .container div {

  width: 100%;
}

.carMain input,
.carMain select {

  width: 100%;
  padding: 10px;
}

.carMain .content {

  height: 75vh;
}

.carListing {

  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 50px;

  width: 75%;
  height: 90vh;
  margin: auto;
  margin-top: 75px;
}

.carItem {

  max-width: 21%;
  height: 300px;
  flex: 1 0 21%;

  transition: all 0.1s ease-in;
}

.carItem a {
  text-decoration: none;
  color: black;
}

.carItem .carImg {

  width: 100%;
  height: 100%;

  object-fit: contain;
  object-position: top center;
}

.extendFilter {

  height: 0;
  overflow: hidden;
  transition: 0.3s all ease-in;

  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 6px;
}

.show {

  height: 115px;
}

.extendedContainer {
  width: calc(80% + 4px);
  margin: auto;
}

.extendedContainer div {
  width: 100%;
  margin: 0px 2px 10px 2px;
}

.carDetails {

  background: white;
  height: 125px;
  transform: translateY(-100px);
  text-align: center;
  padding: 10px;
  width: 303px;

}

.carDetails hr {

  color: #e6e6e6;
}

.carDetails div {

  display: flex;
  gap: 50px;
}

.carDetails i {

  font-size: 22px;
  padding: 4px;
}

.filterToggle {

  color: #363636;
  position: absolute;
  margin: 10px;
}

.filterToggle:hover {

  color: #565656;
}

.filterToggle:active {

  transform: translateY(1px);
}

.carItem:hover {
  opacity: 60%;
  cursor: pointer;
}

.carItem .carLogo {

  width: 30px;
  height: 30px;
}

.carMain .categories {

  margin-top: -30px;
}

.carMain .categories .findCar {

  width: 80%;
}

.carMain .categoryList {

  width: 100%;
}

.carMain .categoryList .item {
  width: 550px;
}

.carMain .categories h2 {
  width: 100%;
}